[Unit]
Description=Config to automatically load palworld config files.

[Service]
Type=oneshot
ExecStart=/home/palworld/loadconfig.sh

[Install]
WantedBy=multi-user.target